*{
margin: 0%;
padding: 0%;
}

.container{
background-color: #c5e4e7;
display: flex;
width: 100vw;
height: 100vh;
flex-direction: column;
justify-content: center;
align-items: center;

}

.form{
background-color: #fff;
width: 760px;
height:442px ;
border-radius: 20px;
}

.formleft{
width: 380px;
height: 221px;
padding: 40px;
}

.bill input{
background-color:#f3f8fb ;
margin-top: 10px;
padding: 10px 10px 10px 120px;
border: none;
border-radius: 10px;
text-align: end;

}
.bill input::placeholder{
font-size: 20px;
padding-left: 150px;

}

.bill i{
position: relative;
right: 280px;
color: #a4b8b9;


}