*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

/***********ROOT***************/

:root{
  --bg-color:#c5e4e7;
  --input-color:#f3f8fb;
  --percentage-div:#004748;
  --i-color:#adc1c2;
  
}


/******************************/


.container{
/* background-color: #c5e4e7; */
background-color: var(--bg-color);
display: flex;
width: 100vw;
height: 100vh;
flex-direction: column;
justify-content: center;
align-items: center;

}

.container .splitter{
  margin-bottom: 50px;
  letter-spacing: 5px;
}

.form{
background-color: #fff;
width: 760px;
height:442px ;
border-radius: 20px;
}

.formleft{
width: 380px;
height: 221px;
padding: 40px;
}

.bill input, .nop input{
background-color: var(--input-color);
margin-top: 10px;
padding: 10px 10px 10px 120px;
border: none;
border-radius: 10px;
text-align: end;

}
.bill input::placeholder,
.nop input::placeholder{
font-size: 20px;
padding-left: 150px;

}

.bill i , .nop i{

position: relative;
left: 10px;
bottom: 25px;
color: var(--i-color);
}

  .percentage-parent-div {
    margin-top: 22px;
    margin-bottom: 40px;
    width: 100%;
  }
  
   .percentage-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    margin-top: 10px;
  } 
  
  .percentage-div > * {
    background-color: var(--percentage-div);
    height: 48px;
    color: white;
    font-size: 20px;
    border: 0;
    cursor: pointer;
  }
  
  #Custom{
background-color:#f3f8fb;
color:#4e6e6d ;

  }
  
  .percentage-parent-div .header h1{
font-size: 19px;



  }
 
  
  
 



